/node_modules
/public/hot
/public/storage
/pubic/css/app.css
/public/js/app.js
/storage/*.key
/storage/app/public/images/
/vendor
.npm
.idea/workspace.xml
.idea/
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json